.a-button {
    display: inline-block;
    padding: var(--space-400) var(--space-700);
    border: none;
    border-radius: var(--radius-button);
    font-family: inherit;
    font-size: var(--fs-body);
    font-weight: var(--fw-bold);
    cursor: pointer;
    transition: background 0.3s ease;
}

.a-button--dark {
    background-color: var(--color-neutral-dark-gray-blue);
    color: var(--color-neutral-white);
}

.a-button--dark:hover {
    background: linear-gradient(var(--gradient-bg-slate-blue), var(--gradient-bg-royal-blue));
}

.a-button--full-width {
    width: 100%;
}
