.a-title {
    font-size: var(--fs-heading-s);
    font-weight: var(--fw-medium);
    color: var( --title-color, var(--color-neutral-white));
}

.a-text-highlight {
    font-weight: var(--fw-extra-bold);
}
