:root {
    /* Primary Colors */
    --color-primary-light-red: hsl(0, 100%, 67%);
    --color-primary-orangey-yellow: hsl(39, 100%, 56%);
    --color-primary-green-teal: hsl(166, 100%, 37%);
    --color-primary-cobalt-blue: hsl(234, 85%, 45%);

    /* Gradients - Background */
    --gradient-bg-slate-blue: hsl(252, 100%, 67%);
    --gradient-bg-royal-blue: hsl(241, 81%, 54%);

    /* Gradients - Circle */
    --gradient-circle-violet-blue: hsla(256, 72%, 46%, 1);
    --gradient-circle-persian-blue: hsla(241, 72%, 46%, 0);

    /* Neutral Colors */
    --color-neutral-white: hsl(0, 0%, 100%);
    --color-neutral-pale-blue: hsl(221, 100%, 96%);
    --color-neutral-light-lavender: hsl(241, 100%, 89%);
    --color-neutral-dark-gray-blue: hsl(224, 30%, 27%);

    /* Background Colors */
    --color-bg-body: var(--color-neutral-pale-blue);
    --color-bg-card: var(--color-neutral-white);
}
