.m-score-panel {
    --title-color: var(--color-neutral-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-600);
    padding: var(--padding-card-mobile);
    background: linear-gradient(var(--gradient-bg-slate-blue), var(--gradient-bg-royal-blue));
    border-radius: 0 0 var(--radius-card) var(--radius-card);
}

.m-score-panel__description {
    display: flex;
    flex-direction: column;
    gap: var(--space-200);
    text-align: center;
    padding: var(--space-400);
}

@media (min-width: 768px) {
    .m-score-panel {
        padding: var(--padding-card);
        border-radius: var(--radius-card);
        justify-content: space-between;
    }
}
