.m-summary-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-400);
    border-radius: var(--radius-summary-item);
}

.m-summary-item__label {
    display: flex;
    align-items: center;
    gap: var(--space-300);
    font-weight: var(--fw-bold);
}

.m-summary-item__score {
    color: var(--color-neutral-dark-gray-blue);
}

/* Modifiers */
.m-summary-item--red {
    background-color: hsla(0, 100%, 67%, 0.1);
    color: var(--color-primary-light-red);
}

.m-summary-item--yellow {
    background-color: hsla(39, 100%, 56%, 0.1);
    color: var(--color-primary-orangey-yellow);
}

.m-summary-item--green {
    background-color: hsla(166, 100%, 37%, 0.1);
    color: var(--color-primary-green-teal);
}

.m-summary-item--blue {
    background-color: hsla(234, 85%, 45%, 0.1);
    color: var(--color-primary-cobalt-blue);
}
